.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  overflow: hidden;
}

@media (min-width: 1300px) {
    .App {
      background-color: #F9F9FA;
  }
}

@media (min-width: 1920px) {
    .App {
      background-color: #F9F9FA;
  }
}